PRACTICAL QUESTIONS

1.Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list.

In [ ]:
def sum_of_even_numbers(numbers):
    return sum(number for number in numbers if number % 2 == 0)

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
print(sum_of_even_numbers(numbers))

12

2.Create a Python function that accepts a string and returns the reverse of that string.

In [ ]:
def reverse_string(s):
    return s[::-1]

In [ ]:
string = "MISS"
print(reverse_string(string))

SSIM

3.Implement a Python function that takes a list of integers and returns a new list containing the squares of each number.

In [ ]:
def sq(x):
    return x**2

In [ ]:
l=[1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [ ]:
list(map(sq,l))

[1, 4, 9, 16, 25]

4.Write a Python function that checks if a given number is prime or not from 1 to 200.

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

In [ ]:
number = int(input("Enter a number: "))
if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Enter a number: 13
13 is a prime number.

5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms

In [ ]:
def fib(n):
  a=0
  b=1
  for i in range(n):
    yield a
    a,b=b,a+b

In [ ]:
f=fib(10000)

In [ ]:
f

In [ ]:
next(f)

0

In [ ]:
next(f)

1

In [ ]:
next(f)

1

In [ ]:
next(f)

2

In [ ]:
next(f)

3

6. Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [ ]:
def square_num(n):
  for i in range (n):
    yield i**2
square_num(10)

In [ ]:
gen=square_num(10)

In [ ]:
next(gen)

0

In [ ]:
next(gen)

1

In [ ]:
next(gen)

4

In [ ]:
next(gen)

9

In [ ]:
next(gen)

16

7. Implement a generator function that reads a file line by line and yields each line as a string.

In [9]:
def read_file_line_by_line(file_path):
  """Reads a file line by line and yields each line as a string.

  Args:
    file_path: The path to the file to read.

  Yields:
    Each line of the file as a string.
  """
  with open(file_path, 'r') as file:
    for line in file:
      yield line.strip()

In [30]:
file_path ="D:\DEMO.txt"

# Use the generator to read the file line by line
for line in read_file_line_by_line(file_path):
    print(line)

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\DEMO.txt'

In [34]:
def read_file_line_by_line(file_path):
  """Reads a file line by line and yields each line as a string.

  Args:
    file_path: The path to the file to read.

  Yields:
    Each line of the file as a string.
  """
  try:
    with open(file_path, 'r') as file: # Tries to open the file
      for line in file:
        yield line.strip()
  except FileNotFoundError: # If the file is not found
    print(f"Error: File '{file_path}' not found.") # Prints an error message


for line in read_file_line_by_line('file.txt'):
  print(line)

Error: File 'file.txt' not found.

8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple

In [1]:
tuples_list = [(1, 3), (4, 1), (2, 2), (5, 0)]

In [2]:
sorted_list = sorted(tuples_list, key=lambda x: x[1])

In [3]:
print(sorted_list)

[(5, 0), (4, 1), (2, 2), (1, 3)]

9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [4]:
def celsius_to_fahrenheit(celsius):
    """Convert Celsius to Fahrenheit:"""
    return (celsius * 9/5) + 32

In [5]:
celsius_temp = [0, 20, 37, 100]

In [7]:
fahrenheit_temps = list(map(celsius_to_fahrenheit, celsius_temp))

In [8]:
print(fahrenheit_temps)

[32.0, 68.0, 98.6, 212.0]

10. Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [32]:
def remove_vowels(s):
    """Remove all vowels from the given string."""
    vowels = "aeiouAEIOU"
    def is_not_vowel(char):
        return char not in vowels
    filtered_chars = filter(is_not_vowel, s)


    result = ''.join(filtered_chars)

    return result

In [33]:

input_string = "HEY,Miss Tashu"
result_string = remove_vowels(input_string)
print(result_string)

HY,Mss Tsh

11.Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
order is smaller than 100,00 €.

Write a Python program using lambda and map.

In [38]:
def calculate_order_values(orders):
    """Calculate the order values with possible discount."""
    return list(map(lambda order: ( order[0], (order[2] * order[3]) + 10 if (order[2] * order[3]) < 100 else (order[2] * order[3])
    ), orders))

In [32]:
orders = [
    [34587, 'Learning Python, Mark Lutz', 4, 40.95],
    [98762, 'Programming Python, Mark Lutz', 5, 56.80],
    [77226, 'Head First Python, Paul Barry', 3, 32.95],
    [88112, 'Einführung in Python3, Bernd Klein', 3, 24.99]
]

In [39]:
order_values = calculate_order_values(orders)
print(order_values)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]